body{
  background: lightpink;
  
}
body, ul{
  margin: 0px;
  padding: 0px;
}
 a{
  color: black; 
  text-decoration: none;
   font-family: Sans-Serif;
   font-size:1.2rem;
 }
 a:hover{ 
   background: lightblue;
 }
 img{ 
   width: 60px;
   border-radius: 30px;
 }
 #header{ 
   background: lightgray;
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height:70px;
   padding: 1rem;
   top: -3px;
   
 }
 #menu{
   list-style: none;
   display: flex;
   gap: 1.5rem;
   
 }
 
 
   #menu a{
     display: block;
     padding: .1rem;
     
   }
   
   #btn-mobile{
     display: none;
     
   }
   @media (max-width:600px) {
     #btn-mobile{ 
       display: block;
     }

 #menu{
      
       position: absolute;
       width:100%;
       height: 0px;
       top: 70px;
       left:1px ;
       background: lightgray;
       display:block;
       z-index: 1000;
       transition: .6s;
       visibility: hidden;
       overflow-y: hidden;
       }
       #nav.active #menu{ 
        height: 81vh;
        visibility: visible;
        overflow-y: auto;
   
         }
         #menu a{
           padding: 1rem 0;
           margin: 0 1rem;
           border-bottom: 2px solid rgba(0, 0, 0, .05);
          }
          #header{ 
            position: fixed;
            width: 100%;
          }
          #btn-mobile{ 
            display: flex;
            padding:.5rem 1rem;
            font-size: 1rem;
            border: none;
            background: none;
            cursor: pointer;
            gap: .5rem;
          }
          #hamburger{
           border-top: 2px solid;
            width: 20px;
           }
          #hamburger::after, #hamburger::before{
             content: '';
             display: block;
             width: 20px;
             height: 2px;
             background:currentColor;
             margin-top: 5px;
             transition: .3s;
             position: relative;
             
           }
           #nav.active #hamburger{ 
             border-top-color: transparent;
             
           }
             #nav.active #hamburger::before{ 
               transform: rotate(135deg);
               
             }
             #nav.active #hamburger::after{ transform: rotate(-135deg);
               top: -7px;
             }
          
     
   
   
 }